<h1> this is the order page</h1>
<div class="container">

  <table class="table">
    <tr>
      <th>Invoice #</th>
      <th>Name</th>
      <th>Address</th>
      <th>Total</th>
      <th>Shipping Cost</th>
    </tr>
    <%if @orders != nil %>
      <% @orders.each do |order| %>
      <tr>
        <td><%=order.id%></td>
        <td><%=order.users_id%></td>
        <td><%=order.invoice_num%></td>
        <td><%=order.total_cost%></td>
        <td><%=order.shipping_cost%></td>
      </tr>
      <%end%>
    <%else%>
    <div class="container">
      <div class="text-center">
          <h3>There is no orders here.</h3>
      </div>
    </div>
    <%end%>
  </table>
</div>
