<h1> this is the order page</h1>
<div class="container">

  <table class="table">
    <tr>
      <th>Invoice #</th>
      <th>Name</th>
      <th>Address</th>
      <th>Products</th>
      <th>Total</th>
      <th>Quantity</th>
      <th>Shipping Cost</th>
    </tr>

    <%if @orders != nil %>
      <% @orders.each do |order| %>
      <tr>
        <td><%=order.invoice_num%></td>
        <td><%=User.find_by(id:order.users_id).full_name%></td>
        <td><%=User.find_by(id:order.users_id).address%></td>
        <td><%=order.cart_items.each do |item|%>
            <%= item.product.name%>
            <% end %>
        </td>
        <td>
          <%if !order.cart_items.empty? %>
            <%order.cart_items.each do |item| %>
              <%Product.find_by(id: item.id)%>
            <% end %>
          <% end %>
        </td>
        <td><%order.cart_items.each do |item|%>
              <%= item.quantity %>
            <%end%>
        </td>
        <td><%=order.shipping_cost%></td>
      </tr>
      <%end%>
    <%else%>
    <div class="container">
      <div class="text-center">
          <h3>There is no orders here.</h3>
      </div>
    </div>
    <%end%>
  </table>
</div>
