<div style="z-index: 1" class="jumbo-img-overlay">
  <div class="jumbotron" id="jumbo">
      <div class="jumbotext jumbotron-fluid text-center">
        <h3 style="font-size: 30px; font-weight: bold; color: black;">Fast, safe, and reliable.</h3>
        <p style="font-size: 25px; color: black; font-weight: bold;">We provide the best leading products. Delivered right to your door.</p>
      </div>
    </div>
  </div>

</br>

<section></section>


<div class="container about">
  <div class="row text-about">
    <h1>About</h1>
    <p> <%=Faker::Lorem.paragraphs(7)%></p>
  </div>
</div>

<section></section>
<br></br>
<!-- <hr></hr>
 -->
<div class="container how-do-you-register">
  <div class="row text-register">
    <h1> How do you register? </h1>
    <p> <%=Faker::Lorem.paragraphs(7)%></p>
  </div>
</div>


<!-- featured items on frontpage out of the database -->
<div class="container text-center" id="frontitems">
  <h2>Featured Items</h2>
    <div class="row" >
      <div class="img-responsive" id="rowItems">
      <%@products.each do |product|%>
        <%if product.featured == true%>

        <div class="col-md-3">
            <div class="thumbnail">
              <%=link_to image_tag(product.picture.thumb), product_path(product)%>
              <div class="caption">
                <h3><%=product.name.titleize%></h3>
                <p><%=number_to_currency(product.price)%>/gram</p>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
      </div>
    </div>
  </div>
