<h1 class="text-center"> Order Submitted!</h1>
<!--debugging for rails  -->
<!-- <%=@order.inspect%> -->
<!-- this is order inspect:
<%=@order.inspect%>
<br />
<br />
this is the current_cart:<%=current_cart.inspect%>
<br />
<br />
this is order.cart_items:<%=@order.cart_items.inspect%>
<br />
<br />
this is order.cart_items.each do :<%@order.cart_items.each do |item| %>
<%= item %>
<% end %>
<br />
<br />
this is current_cart.cart_items: <%= current_cart.cart_items.inspect%>
<br/>
this is current_cart.cart_items.each do: <% current_cart.cart_items.each do |item| %>
<br/>

<%= item.inspect %> -->
<!-- <% end %> -->
<!-- <%=@order.cart_items.product.inspect%> -->

<div class="container email-container">
  <p>
    Thank you for placing your order. You will receive instructions in your email(<%=@user.email%>) on the payment process. After confirmation of payment please allow 3-5 business days for your product to arrive.
  </p>

</div>
