<!DOCTYPE html>
<html>
  <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Shopping Cart</h1>

    <div class="shopping-cart">
      <div class="column-labels">
        <label class="product-image">Image</label>
        <label class="product-details">Product</label>
        <label class="product-price">Price</label>
        <label class="product-quantity">Quantity</label>

        <!-- adding update column to labels -->
        <label class="product-update">Update</label>
        <label class="product-removal">Remove</label>
        <label class="product-line-price">Total</label>
      </div>

      <br />
      <br />
      <br />

      <br />
      <br />
        <%@cart_items.each do |item|%>

        <div class="product">
          <div class="product-image">
            <%=image_tag(item.product.picture.thumb)%>
          </div>
          <div class="product-details">
            <div class="product-title"><%=item.product.name%></div>
            <p class="product-description"><%=item.product.description%></p>
          </div>
          <div class="product-price"><%=number_to_currency(item.product.price)%></div>

          <%=item.quantity%>

          <div class="product-line-price"><%=number_to_currency(item.product.price*item.quantity)%></div>
        </div>

      <%end%>
    <br />
    <br />

    <!--Temporary solution until model methods are written  -->
    <% if !@cart_items.empty? %>
      <!--subtotal variable -->
      <%subtotal =@cart_items.collect {|item| item.quantity*item.unit_price}.sum%>
      <!--subtotal + shipping cost  -->
      <%total=subtotal+15%>
    <div class="totals">
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal"><%=number_to_currency(subtotal)%></div>
      </div>
      <div class="totals-item">
        <label>Tax (5%)</label>
        <div class="totals-value" id="cart-tax">Included!</div>
      </div>
      <div class="totals-item">
        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping"><%=number_to_currency(15.00)%></div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total">
          <%=number_to_currency(total)%>
        </div></div>
      </div>
    </div>
    <!--end shopping cart -->

    <div class="modal fade" id="checkout-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <h4 class="modal-title" id="myModalLabel">Checkout Summary</h4>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <p class="col-md-2 col-xs-3 col-md-offset-0">
                  <u>Product Name</u>
                </p>

                <p class="col-md-2 col-xs-1 col-md-offset-0 col-xs-offset-2">
                  <u>Price</u>
                </p>
                <p class="col-md-2 col-xs-1 col-md-offset-0 col-xs-offset-2">
                  <u>Quantity</u>
                </p>
              </div>
            <%@cart_items.each do |item|%>

            <div class="row">
              <div class="col-md-2 col-xs-3 col-md-offset-0">
              <p>
                <%=item.product.name%>
              </p>
              </div>
              <div class="col-md-2 col-xs-1 col-md-offset-0 col-xs-offset-2">
                <%=number_to_currency(item.product.price)%>
              </div>
              <div class="col-md-2 col-xs-1 col-md-offset-0 col-xs-offset-2">
                <p><%=item.quantity%></p>
              </div>
            </div>

            <%end%>

            <br />
            <br />

              <div class="row totals">
              <!--grandtotal row  -->
              <div class="row">
                <div class="col-md-2 col-xs-2"style="font-weight:bold;">
                  <bol><u>Grand Total</u></bold>
                </div>

                <div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-2">
                  <p>
                    <%=number_to_currency(subtotal+15)%>
                  </p>
                </div>
              </div>

              </div>
            </div>


            <div class="container modal-cart-msg">
              <div class="row">
                <div class="col-md-6">

                  <p>
                    ****play your account information message here****
                  </p>
                </div>
              </div>
            </div>

            <br />
            <br />
            <!--user address information -->
            <div class="container-fluid modal-cart-userinfo">
              <div class="row text-center">
                <h4>Your Shipping Information:</h4>
              </div>
              <div class="row">
                <div class="col-md-12">
                  Name:<%=@user.full_name%>
                </div>
              </div>
              <br />


              <div class="row">
                <div class="col-md-12">
                  <p>
                    Address: <%=@user.address%>
                  </p>
                </div>
                <div class="col-md-12">
                  <p>
                    Province: <%=@user.province%>
                  </p>
                </div>
                <div class="col-md-12">
                  <p>
                    Postal code: <%=@user.postal_code%>
                  </p>
                </div>
              </div>

              <br />
              <p>
                <%=@user.full_name%> is your shipping information correct? If it isn't you can edit your information <%=link_to 'here', edit_user_registration_path(@user)%>
              </p>
            </div>
            <br/>

        </div>
        </div>
      </div>


    <%end%>

  </body>
</html>
