<h1 class="text-center">Admin Panel</h1>
<% @products.each do |product| %>
<div class="container">
  <div class="row">
    <div class="img-responsive">
      <div class="col-md-3">
         <div class="thumbnail" style="float:left">
            <img src="<%=product.picture%>"><button>ChangePicture</button><button>Delete </button><button>Edit</button>
         </div>
      </div>
    </div>
      <div class="text-left" >
        <p>Product ID:<%=product.id%></p>
        <p>Product Name:<%=product.name%></p>
        <p>Product Description:<%=product.description%></p>
        <p>Product Price Per Gram:<%=number_to_currency(product.price)%></p>
      </div>
    </div>
</div>
<%end%>
