
  <div class="container" id="productitems">
    <div class="row" >
      <div class="img-responsive" id="rowItems">

          <h2> Products </h2>

        </div>
      </div>
      <!-- <div class="col-md-3">   -->

        <% @products.each do |product| %>
          <%=link_to product_path(product) do %>
            <div class="col-md-3">
              <!-- link_to for title and image to product#show(product) -->
              <div class="thumbnail">
               <%=image_tag(product.picture)%>
                <div class="caption text-center">
                  <h3><%=product.name.titleize%></h3>
          <%end%>
                    <p><%=number_to_currency(product.price)%></p>
                  <p><%=product.description%></p>
                </div>
              </div>
            </div>
        <%end%>

      </div>
    </div>
</div>
