
  <div class="container" id="productitems">
    <div class="row" >
      <div class="img-responsive" id="rowItems">

        <div class="header-search" style="display:flex;">
          <h2> Products </h2>

            <div class="searchbar" style="margin-left:100px;">
              <%= form_tag(products_path, method:"get") do %>
              <!--   <%=%> -->
                <div class="input-group">
                  <%= text_field_tag :search, params[:search], placeholder: "Search" %>
                </div>
            </div>
                  <div>
                  <%= select_tag(:category, options_for_select(['Select Category', 'Green', 'Accessories', 'Herbal']))%>
            
              <div style="display:none">
                <%= submit_tag("Search")%>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">   -->
      
        <% @products.each do |product| %>
          <%=link_to product_path(product) do %>
            <div class="col-md-3">  
              <!-- link_to for title and image to product#show(product) -->
              <div class="thumbnail">
               <%=image_tag(product.picture)%>
                <div class="caption text-center">
                  <h3><%=product.name.titleize%></h3>
          <%end%>
                    <p><%=number_to_currency(product.price)%></p>
                  <p><%=product.description%></p>
                </div>
              </div>
            </div>
        <%end%>
    
      </div>
    </div>
</div>

<!-- <div class="container-fluid">
  <div style="background-color: blue; float: left"class="row">
    <div class="col-sm-3">
      <div class="left-side-nav">
        <ul style="list-style: none; text-align:left;">
          <li>hello</li>
          <li>goodbye</li>
        </ul>
      </div>
    </div>
  </div>
    
</div>