  <div class="container" id="productitems" style="background-color: #EEEEEE;">
    <div class="row" >
      <div class="img-responsive" id="rowItems">

          <h2> Products </h2>

        </div>
      </div>
      <!-- if @products object is an empty array -->
      <%if @products == []%>
        <%= render 'nothinghere'%>
      <%end%>
        <% @products.each do |product| %>
          <%=link_to product_path(product) do %>
            <div class="col-md-3">
              <!-- link_to for title and image to product#show(product) -->
              <div class="thumbnail">
               <%=image_tag(product.picture)%>
                <div class="caption text-center">
                  <h3><%=product.name.titleize%><%=product.id%></h3>
          <%end%>

         <%= form_for @cart_item, remote: true do |f| %>
           <div>
             <div class="input-group">
               <%= f.number_field :quantity, value: 1, class: "form-control", min: 1,max: 8 %>
               <div class="input-group-btn">
                 <%= f.hidden_field :product_id, value: product.id%>
                 <%= f.submit "Add to Cart", class: "btn btn-primary"%>
               </div>
             </div>
           </div>
           <%end%>


                    <p><%=number_to_currency(product.price)%></p>
                </div>
              </div>
            </div>
        <%end%>
      </div>
    </div>
</div>
