<h2 class="text-center">Sign up for your account</h2>
<h1 class="text-center"> this is registerations/users/new.html.erb</h1>
<div class="container">
<%= form_for(@user, url: registration_path(@user), html: {:class => "form"}) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :username%>
    <%= f.text_field :username, class: "form-control", autofocus: true%>
  </div>

  <div class="form-group">
    <%= f.label :email%>
    <%= f.email_field :email, class: "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :password%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length%> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", autocomplete: "off"%>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off"%>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control"%>
      </div>
      <div class="col-sm-6">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-8">
        <%= f.label :address %>
        <em>Please include your suite/apt number if avaliable.</em>
        <%= f.text_field :address, class: "form-control"%>
      </div>
      <div class ="col-sm-4">
        <%= f.label :postal_code %>
        <%= f.text_field :postal_code, class: "form-control"%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :pictureid, "Two Pieces of Government ID"%>
    <%= f.file_field :pictureid, multiple: true %>
  </div>


  <div class="actions form-group">
    <%= f.submit "Sign up", class: "btn btn-success" %>
  </div>
<% end %>
<%= render "users/shared/links" %>
</div>